* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background-color: #041C32;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo {
    letter-spacing: 2px;
    font-size: 20px;
    cursor: pointer;
    color: #ECB365;
}

.navlinks {
    padding-right: 30px;
}

.navlinks ul {
    list-style: none;
    display: flex;
}

.navlinks ul li {
    display: inline-block;
    padding-right: 30px;
}

.navlinks ul li a {
    text-decoration: none;
    color: #ECB365;
    font-size: 17px;
    text-transform: uppercase;
}

.navborder::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: #ECB365;
    transition: width 0.3s ease;
}

.navborder:hover::after {
    width: 100%;
}

.container {
    background-image: linear-gradient(to top, rgba(4, 28, 50, 0.62), rgba(4, 28, 50, 0.2)), url("bg8.jpg");
    background-size: cover;
    height: 695px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    background-color: #F5F5DC;
    width: 500px;
    padding: 30px;
    display: grid;
    border-radius: 8px;
    text-align: left;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 6px;
    margin-top: 3px;
    width: 100%;
    border: 1px solid #ccc;
}

.signup {
    background-color: #ECB365;
    padding: 10px;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    transition: 0.5s ease;
    width: 100%;
    color: #041C32;
    font-weight: bold;
    text-transform: uppercase;
    font-size: medium;
    cursor: pointer;
}

.signup:hover {
    background-color: #B8860B;
}

.forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forget a {
    color: #ECB365;
    text-decoration: none;
    transition: 0.1s ease;
}

.forget a:hover {
    color: #B8860B;
}
